# SPDX-License-Identifier: Apache-2.0

# Indy Admin
*       @hyperledger-indy/indy-admin

# Indy Common
*       @hyperledger-indy/indy-common

# Indy Test Automation
*       @hyperledger-indy/indy-test-automation
